@import url('http://fonts.cdnfonts.com/css/acumin-pro?styles=16576');

:root {
    --window: rgb(6, 17, 33);
    --white: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Acumin Pro';
    color: var(--white);
    background-color: var(--window);
    box-sizing: border-box;

}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}


header ul {
    display: flex;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    max-width: 1128px;
    justify-content: center;
}

header ul li {
    margin-left: auto;
    margin-right: auto;

}

header span {
    color: aqua;

}

main {
    padding: 20px;
    margin: 60px auto;
    max-width: 1128px;

}

main h1 {
    grid-column: 1 / span 12;
    margin: auto;
}

.search {
    grid-column: 1 / span 12;
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
}

.search input {
    border-radius: 15px;
    width: 40%;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* .search #searchBtn{
    border-radius: 15px;
    margin-left: 8px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
} */

.search #closeBtn {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.search .newCoinContainer {
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 500px;
    border: 1px solid var(--white);
    background-color: var(--window);
    display: none;

}

.search #newCoinDetails_1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: space-between;
    height: 80%;
    font-size: 20px;
    font-weight: 600;


}

#hidden-div {
    display: flex;
    /* align-items: center; */
    color: #fff ;
    /* height: 55px; */
    display: none;
    /* padding: 30px 0; */
    background: #555;
    border-radius: 10px;
}

.search #newCoinDetails_1 .newCoinDetailsContainer {
    display: flex;

}

.search #newCoinDetails_1 #newCoinLogo {
    margin-left: 10px;
    width: 22px;
    height: 22px;
}

.search #newCoinDetails_1 .newCoinDetailsContainer label {
    width: 50%;

}

.search #newCoinDetails_1 .newCoinDetailsContainer #newCoinPriceFluctuation24h {
    margin-left: 10px;
    font-size: 14px;
    align-self: center;
    line-height: 100%;
    letter-spacing: 0.05em;
    font-weight: 600;
}



.container {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 12;
    flex-direction: column;
    width: 100%;

}

.container .coins {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(244, 244, 244, 0.3);
    justify-content: space-between;
    align-items: center;

}

.coins .coins_1 {
    box-sizing: border-box;
    align-items: center;
    width: 25%;
    display: flex;
}

.coins .coins_1  .headerRank{
    box-sizing: border-box;
    align-items: center;
    font-size: 18px;
    width: 22%;
    display: flex;
}
.coins .coins_1 .headerName{
    box-sizing: border-box;
    align-items: center;
    font-size: 18px;
    width: 22%;
    display: flex;
}


.coins .coins_1 .coinsRank {
    position: relative;
    margin: 0px 20px 0px 0px;
    font-size: 18px;
    line-height: 145%;

}

.coins .coins_1 .coinsName {
    margin: 0px 8px 0px 0px;
    font-size: 24px;
    line-height: 145%;
    font-weight: 600;
    color: rgb(209, 208, 209);
}

.coins .coins_1 .coinsSymbol {
    color: rgb(125, 125, 125);
    font-size: 20px;
    line-height: 145%;
    letter-spacing: 0em;
}

.coins .coins_1 .coinLogo {
    margin: 0px 8px 0px 0px;
    width: 24px;
    height: 24px;
}

.coins .coins_2 {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    /* margin: 0px; */
}

.coins .coins_2 .coinsPrice {
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.1px;
    font-weight: 600;
    width: auto;

}

.coins .coins_2 .coinsPriceFluctuation24h {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.05em;
    font-weight: 600;
    width: 15%;
}

.coins .coins_2 .headerPriceFluctuation{
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.05em;
    font-weight: 600;
    width: 15%;
}


.coins .coins_3 {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 12%;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.05em;
    font-weight: 600;
}


.coins .coins_4 {
    display: flex;
    margin: 0px;
    width: 12%;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.coins .coins_5 {
    display: flex;
    margin: 0px;
    width: 15%;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.05em;
    font-weight: 600;
}